@media (min-width: 1536px) and (max-width: 1920px) {
    .geral{
        height: 100vh;
    }


}
/**/
@media (min-width: 1400px) and (max-width: 1535px) {
    .login-body {
        height: 670px;
    }

    .footer .container {
        width: 80%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 0px;
        margin: 10px 280px 40px 280px;
    }


}


@media (min-width: 1200px) and (max-width: 1399px) {
    .footer .container {
        width: 80%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 0px;
        margin: 10px 140px 40px 140px;
    }

    .footer p {
        margin: 10px 140px 40px 140px;
        padding-top: 25px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer .container {
        width: 80%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 0px;
        margin: 10px 300px 40px 300px;
    }

    .footer p {
        margin: 10px 300px 40px 300px;
        padding-top: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .geral {
        background-color: black;
        height: 190vh;
        width: 100vw;
        overflow-x: hidden;
    }

    .logo {
        width: 166px;
        margin: 25px 15px;
    }

    .login-body {
        width: 500px;
        height: 590px;
        padding: 15px 45px 30px 0px;
    }

    .footer .container {
        display: none;
    }

    .footer .container2 {
        display: grid;
        width: 80%;
        grid-template-columns: 50% 50%;
        gap: 5px;
        margin: 0px 30px;
    }

    .footer p {
        margin: 0px 30px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    button[name="drop"] {
        margin-top: 50px;
    }


}

@media (min-width: 576px) and (max-width: 767px) {
    .geral {
        background-color: black;
        height: 190vh;
        width: 110vw;
        overflow-x: hidden;
    }

    .login-body {
        width: 460px;
        height: 590px;
        padding: 15px 40px 30px 0px;
    }

    .logo {
        width: 166px;
        margin: 25px 15px;
    }

    form .login_input {
        width: 100%;
    }

    .submit {
        width: 100%;
    }

    .support-assine {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .line {
        display: block;
        width: 100%;
        border: 0.5px solid #737373;
    }

    .footer {
        margin-top: -90px;
        height: 80px;
    }

    .footer .container {
        display: none;
    }

    .footer .container2 {
        display: grid;
        width: 80%;
        grid-template-columns: 50% 50%;
        gap: 5px;
        margin: 0px 18px;
    }

    .footer p {
        margin: 0px 18px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    button[name="drop"] {
        margin-top: 50px;
    }


}

@media (min-width: 414px) and (max-width: 575px) {
    .geral {
        background-color: black;
        height: 190vh;
        width: 110vw;
        overflow-x: hidden;
    }

    .login-body {
        width: 440px;
        height: 590px;
        padding: 15px 50px 30px 5px;
    }

    .logo {
        width: 166px;
        margin: 25px 15px;
    }

    form .login_input {
        width: 100%;
    }

    .submit {
        width: 100%;
    }

    .support-assine {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .line {
        display: block;
        width: 100%;
        border: 0.5px solid #737373;
    }

    .footer {
        margin-top: -90px;
        height: 80px;
    }

    .footer .container {
        display: none;
    }

    .footer .container2 {
        display: grid;
        width: 80%;
        grid-template-columns: 50% 50%;
        gap: 5px;
        margin: 15px 18px;
    }

    .footer p {
        margin: 15px 18px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    button[name="drop"] {
        margin-top: 50px;
    }
}

@media (min-width: 390px) and (max-width: 413px) {
    .geral {
        background-color: black;
        height: 190vh;
        width: 110vw;
        overflow-x: hidden;
    }

    .login-body {
        width: 80%;
        height: 590px;
        padding: 15px 35px 30px 0px;
    }

    .logo {
        width: 78px;
        margin: 25px 15px;
    }

    form .login_input {
        width: 100%;
    }

    .submit {
        width: 100%;
    }

    .support-assine {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .line {
        display: block;
        width: 100%;
        border: 0.5px solid #737373;
    }

    .footer {
        margin-top: -90px;
        height: 80px;
    }

    .footer .container {
        display: none;
    }

    .footer .container2 {
        display: grid;
        width: 80%;
        grid-template-columns: 50% 50%;
        gap: 5px;
        margin: 0px 18px;
    }

    .footer p {
        margin: 0px 18px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    button[name="drop"] {
        margin-top: 50px;
    }


}

@media (min-width: 360px) and (max-width: 389px) {
    .geral {
        background-color: black;
        height: 190vh;
        width: 110vw;
        overflow-x: hidden;
    }

    .login-body {
        width: 90%;
        height: 590px;
        padding: 15px 35px 30px 0px;
    }

    .logo {
        width: 78px;
        margin: 25px 15px;
    }

    form .login_input {
        width: 100%;
    }

    .submit {
        width: 100%;
    }

    .support-assine {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .line {
        display: block;
        width: 100%;
        border: 0.5px solid #737373;
    }

    .footer {
        margin-top: -90px;
        height: 80px;
    }

    .footer .container {
        display: none;
    }

    .footer .container2 {
        display: grid;
        width: 80%;
        grid-template-columns: 50% 50%;
        gap: 5px;
        margin: 0px 18px;
    }

    .footer p {
        margin: 0px 18px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    button[name="drop"] {
        margin-top: 50px;
    }
}